body{
    background: radial-gradient(black, #292929);
    color: white;
}

.introduction h1{
    text-align: center;
    font-size: 30px;
}

.intro-div{
    height: 500px;
    padding-bottom: 50px;
}

.intro-div img{
    float: right;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.intro-div span{
    width: 50%;
    float: left;
    font-size: 25px;
}

.graph-div{
    width: 90%;
    align-self: center;
}
